h1.admin {
    text-align: center;
    font-family: "Helvetica Neue";
    font-size:40px;
    color: black;
}
#adminLoginForm{
    margin: auto;
    align-content: center;
    width: 30%;
    padding: 15px;
}
#loginTab{
    text-align: center;
    font-size: 25px;
}
#adminForms{
    margin: auto;
    align-content: center;
    width: 30%;
    padding-bottom: 100%;
}
#fileUploaderForm{
    margin: auto;
    align-content: center;
    width: 50%;
    padding: 10px;
    padding-bottom: 100%;
}