h1 {
    text-align: center;
    font-family: "Helvetica Neue";
    font-size:60px;
    color: blue;
}
#adminLoginForm{
    margin: auto;
    align-content: center;
    width: 30%;
    padding: 15px;
}
#loginTab{
    text-align: center;
    font-size: 25px;
}