.footer
{
	position: relative;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10%;
	background-color: #19098B;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	
}

#footer a
{
	color: sandybrown;
}

#footer a:hover {
	color: blue;
}