h1{
    font-size: 35px;
    font-family: sans-serif;
}
p{
    text-align: center;
}
.navbar{
    width: 100%;
    background-color: #FFFAE3;
}
.navbar-brand{
    width: 100%;
    background-color: #19098B;
}
.navbar-item{
    width: auto;
    margin: auto;
    color: sandybrown;
}
body{
    background-color: #FFFAE3;
}