h1.header{
    font-size: 45px;
    font-family: sans-serif;
	text-align: center;
	padding-top: 0px;
}
p{
    text-align: center;
}
.navbar{
    width: 100%;
    background-color: #FFFAE3;
}
.navbar-brand{
    width: 100%;
    background-color: #19098B;
}
.navbar-item{
    width: auto;
    margin: auto;
    color: sandybrown;
}