#sidebar {
	width: auto;
	position: relative;
	z-index: 1;
	top: auto;
	right: 5%;
	background: #19098B;
	overflow-x: hidden;
	padding: 20px;
	float: right;
	color: beige;
}

#sidebar a {
	padding: 10px 8px 6px 0px;
	text-decoration: none;
	color: sandybrown;
	display: block;
}

#sidebar a:hover {
	color: blue;
}

#sidebar li {
	list-style-type: circle;
	margin-left: 20px;
}
